<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form</title>
  </head>
  <body>
    <div>
      <h2>Form for User ID: <%= data[0].id %></h2>
      <h3><%= data[0].username %></h3>
      <form
        action="/submit-form/<%= data[0].id %>?_method=PATCH"
        method="post"
        enctype="multipart/form-data"
      >
        <br />
        <input type="hidden" name="_method" value="PATCH" />
        <br />
        <input type="file" name="photo" accept="image/png, image/jpeg" />
        <br />
        <textarea id="caption" name="caption"><%= data[0].caption %></textarea>
        <br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
